.App{
    max-width: 800px;
    margin: 40px auto;
}

button{
    background: none;
    border: 1px solid rgb(240, 235, 235);
    padding: 6px 6px;
    border-radius: 2px;
    color: aliceblue;
    font-weight: normal;
    cursor: pointer;
    font: 1em;
}

button:hover{
    background: plum;
    color: beige;
}

.tablero{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}